.container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  position: relative;
  min-width: 148px;
}

.container:hover {
  background-color: #fafafa;
}

.active .actions,
.container:hover .actions {
  opacity: 1;
  visibility: visible;
  width: auto;
}

.color {
  margin-right: 8px;
}

.text {
  font-size: 14px;
  color: #292d32;
  text-transform: lowercase;
}

.actions {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  width: 0;
  padding-right: 8px;
  transition: all 0.3s ease 0s;
}
.input {
  margin-right: 8px;
  margin-left: 8px;
  position: absolute;
  top: 6px;
  right: 0;
  left: 34px;
  height: 32px;
  min-width: 96px;
  bottom: 0;
  background-color: #ffff;
}

.actionButton {
  width: 24px;
  height: 24px;
  fill: #6a6e74;
  z-index: 10;
}
.actionBtn:not(:last-child) {
  margin-right: 8px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px;
}

.button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-radius: 8px 0px 0px 8px;
}
