.cardTodo {
  padding: 16px 24px;
  background-color: #fff8d5;
  min-width: 100%;
  border-radius: 8px;

  min-height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 38px 1fr 38px;
  margin-bottom: 16px;
  margin-right: 16px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.headerButtons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.cardBtn {
  width: 24px;
  height: 24px;
}
.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #535559;
}

.text {
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  color: #6a6e74;
  margin-bottom: 16px;
  min-width: inherit;
  min-height: auto;
  display: flex;
}

.textChecked {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 16px;
  color: #6a6e74;
  text-decoration-line: line-through;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.colorWrraper {
  display: flex;
  align-items: center;
}
.colorTag {
  flex-shrink: 0;
}
.colorTag:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .cardTodo {
    width: 100%;
    margin-right: 0px;
  }
}
