.cardTodo {
  padding: 16px 24px;
  min-width: 100%;
  min-height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 38px 1fr 38px;
  margin-bottom: 16px;
  margin-right: 16px;
  border-radius: 8px;
  background: linear-gradient(145deg, #ffffe4, #e6dfc0);
  transition: background-color 0.2s;
  min-height: 200px;
}

.cardTodoChecked {
  padding: 16px 24px;
  min-width: 100%;
  border-radius: 8px;
  min-height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 38px 1fr 38px;
  margin-bottom: 16px;
  margin-right: 16px;
  transition: all 0.2s ease 0s;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: inset 8px 8px 33px #e6e6e6, inset -8px -8px 33px #ffffff;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
.cardHeaderChecked {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  opacity: 0.4;
}

.headerButtons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.cardBtn {
  width: 24px;
  height: 24px;
}
.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #535559;
  text-transform: capitalize;
}

.text {
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  color: #6a6e74;
  min-width: inherit;
  min-height: auto;
  display: flex;
  word-break: break-all;
  overflow-y: scroll;
}

.textChecked {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6a6e74;
  text-decoration-line: line-through;
  word-break: break-all;
  overflow-y: scroll;
  opacity: 0.4;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.colorWrraper {
  display: flex;
  align-items: center;
}
.colorTag {
  flex-shrink: 0;
}
.colorTag:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .cardTodo {
    width: 100%;
    margin-right: 0px;
  }
}
