@import "../../vars.css";

.button {
  transition: all 0.2s ease 0s;
}
.button:disabled {
  cursor: no-drop;
}
.icon {
  transition: all 0.2s ease 0s;
  fill: var(--color-green);
}
.icon:hover {
  fill: var(--color-font-grey-dark);
}

/* PRIMARY */
.variant-primary {
  padding: 9px 16px;
  width: 73px;
  height: 32px;
  background: var(--color-font-grey-dark);
  border-radius: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-font-main);
}
.variant-primary:hover {
  background: var(--color-bg-black);
}
.variant-primary:focus {
  background: var(--color-font-grey-dark);
  box-shadow: 0 0 0 2px #d7dcff;
}
.variant-primary:active {
  background: var(--color-font-grey-dark);
  box-shadow: 0 0 0 2px #a2abe9;
}
.variant-primary:disabled {
  background: #c4c4c4;
}

/* DANGER */
.variant-danger {
  padding: 9px 16px;
  width: 73px;
  height: 32px;
  background: var(--color-font-grey-dark);
  border-radius: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  background: #ff4f4f;
  color: #ffffff;
}
.variant-danger:hover {
  background: #eb0404;
}
.variant-danger:focus {
  box-shadow: 0 0 0 2px #d7dcff;
  background: #ff4f4f;
}
.variant-danger:active {
  box-shadow: 0 0 0 2px #a2abe9;
}
.variant-dander:disabled {
  background: #c4c4c4;
}

/* DACHSED */
.variant-dashed {
  padding: 9px 16px 9px 12px;
  border: 1px dashed var(--color-font-main);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: var(--color-font-main);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.2s ease 0s;
}
.variant-dashed svg {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  fill: var(--color-font-main);
}
.variant-dashed:hover,
.variant-dashed:hover svg {
  transition: all 0.2s ease 0s;
  color: var(--color-green);
  fill: var(--color-green);
}
.variant-dashed:hover {
  border: 1px dashed var(--color-green);
}
.variant-dashed:focus {
  box-shadow: 0 0 0 2px #d7dcff;
}
.variant-dashed:disabled {
  border: 1px dashed #c4c4c4;
  color: #c4c4c4;
}
.variant-dashed:disabled svg {
  fill: #c4c4c4;
}

/* TEXT */
.variant-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-font-grey-dark);
  border-radius: 8px;
  padding: 3px 2px;
}
.variant-text:hover {
  color: var(--color-bg-black);
}
.variant-text:focus {
  box-shadow: 0 0 0 2px #d7dcff;
}
.variant-text:disabled {
  color: #c4c4c4;
}

/* ICON */
.variant-icon {
  box-shadow: 0 0 0 2px transparent;
  border-radius: 8px;
  fill: var(--color-bg-black);
}
.variant-icon:hover {
  fill: var(--color-green);
}
.variant-icon:focus {
  box-shadow: 0 0 0 2px #d7dcff;
}
.variant-icon:disabled {
  fill: #c4c4c4;
}

/* MOBILE */
.variant-mobile {
  border-radius: 50%;
  display: none;
  position: fixed;

  padding: 6px;
}
@media screen and (max-width: 768px) {
  .variant-mobile {
    display: none;
  }
}
/* SIZE */
.size-small {
  width: 16px;
  height: 16px;
  padding: 8px;
}
.size-medium {
  width: 22px;
  height: 22px;
  padding: 8px 2px;
}
.size-large {
  width: 38px;
  height: 38px;
  padding: 6px;
}
.size-mobile {
  width: 52px;
  height: 52px;
}
/* FLUID */
.fluid {
  min-width: 100%;
}
