.container {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: rgba(43, 40, 34, 0.33);
}
.card {
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(169, 173, 187, 0.15);
  border-radius: 4px;
  width: 320px;
  min-height: 134px;
  padding: 16px 16px 24px 16px;
  display: flex;
  flex-direction: column;
}
