@import "../vars.css";

body {
  background: var(--color-bg-grey);
}
.container {
  min-height: 100vh;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  flex: none;
  position: relative;
}
.videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: grayscale(1);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding-right: 14px;
  padding-left: 14px;
  z-index: 98;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
  background: linear-gradient(to bottom, #4e4f51, rgba(178, 170, 170, 0));
}

.header button {
  z-index: 101;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: var(--color-font-main);
  z-index: 101;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: calc(100vh - 118px);
  position: relative;
  padding-left: 240px;
  padding-top: 104px;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 100px;
  margin-bottom: 32px;

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 104px;
  left: 0;
  bottom: 0;
  z-index: 98;
  width: 240px;
  border-radius: 5px;
  padding: 24px 16px;
  min-height: 60vh;
}

.tagsList {
  margin-bottom: 32px;
  max-height: 65vh;
  overflow-y: scroll;
}

.tag:not(:last-child) {
  margin-bottom: 24px;
}

.asideAction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.editableButton {
  margin-bottom: 32px;
  width: 100%;
}

.todoList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px repeat(auto-fill, 200px) 200px;
  column-gap: 16px;
  row-gap: 16px;
  padding-right: 8px;
  padding-left: 8px;
}
.mobileBtnAdd {
  display: none;
}
@media screen and (min-width: 1441px) {
  .todoList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1660px) {
  .todoList {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .todoList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px repeat(auto-fill, 200px) 200px;
    column-gap: 16px;
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding-left: 0;
    padding-top: 0;
  }
  .header {
    display: none;
  }
  .aside {
    flex-direction: column;
    margin-right: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.7);

    z-index: 3;
    padding-bottom: 16px;
    padding-left: 14px;
    padding-right: 14px;
    overflow: hidden;
    min-height: 0px;
    max-height: 226px;
  }
  .tagsList {
    width: 100%;
    display: grid;
    padding: 8px 4px 8px 4px;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: var(--color-bg-black);
    border: 1px solid #2a2b2d;
    border-radius: 5px;
    margin-bottom: 4px;
  }

  .tag:not(:last-child) {
    margin-bottom: 0px;
  }
  .todoList {
    margin-top: 244px;
    padding-right: 0;
    padding-left: 0;
  }
  .editableButton {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .mobileBtnAdd {
    bottom: 16px;
    right: 16px;
  }
}
